body{
	font-family: 'Arial';
	font-size: 16px;
	background-color: lightgreen;
	
}
input[type=submit]{
	background-color: #4fadd0;
	color: #ffffff;
	text-decoration: none;
	padding: 10px 25px;
	margin: 5px;
}